<!--<button type="submit" (click)="getAllComments()" >Show Data</button> -->

<table class="table table-striped">  
    <thead>  
        <tr>  
            <th>cid</th>  
            <th>pid</th>  
            <th>commenter</th>  
            <th>comment</th>  
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let comment of cmts">  
            <td>{{comment.cid}}</td>  
            <td>{{comment.pid}}</td>  
            <td>{{comment.commenter}}</td>  
            <td>{{comment.comment}}</td>  
        </tr>  
    </tbody>  
</table>  